body {
    background-color: #111;
}
img {
    max-width: 100%;
}
.mainColumnBodyBase {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #111;
    color: #fff;
}
.centerLogo {
    display: flex;
    justify-content: center;
}
.mainTopLogo {
    width: 100%;
    background-color: #2C1F57;
    border-bottom: 1px solid #fff;
    border-radius: 1em;
}
.mainTopLogo img{
    max-width: 35%;
}
.centerLogo {
}
.actualOffers {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.actualOffersText {
    font-size: 1.3em;
    font-family: "Montserrat-Bold sans-serif";
}
.futureOffers {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.futureOffersText {
    font-size: 1.3em;
    font-family: "Montserrat-Bold sans-serif";
}
.futureOffersAssets {
    margin-top: 0.5em;
}
.pastOffers {
    display: flex;
    max-width: 72%;
    flex-flow: column;
    align-items: center;
}
.pastOffersAssets {
    margin-top: 0.5em;
}
.pastOffersText {
    font-size: 1.3em;
    font-family: "Montserrat-Bold sans-serif";
}
.footer-love-final {
    display: flex;
    flex-flow: column;
    align-items: center;
    border-top: 1px solid #2C1F57;
    background-color: #111;
    color: #fff;
    font-size: 1em;
    font-family: "Montserrat-Regular sans-serif";
}
.bottomMenu {
    margin: auto;
    width: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    gap: 2em 1em;
}
.bottomMenu a {
    margin: auto;
    width: auto;
    display: grid;
    text-decoration: none;
    color: #FFFFFF;
    font-family: Montserrat-Bold sans-serif;
}
.buttonBottomMenu {
    display: none;
}
.copyrightYear {
    display: flex;
    flex-flow: row;
    align-items: center;
}
/* -Popup cookieconsent window- */
.eu-popup {
    max-width: 98%;
    height: auto;
    text-align: center;
    background-color: #f8e71c!important;
    border: 3px solid #2C1F57;
    border-radius: 1em;
    color: #111;
    font-family: "Montserrat-Regular sans-serif";
}
#session {
    display: none;
}
#xsrf-token {
    display: none;
}
.eu-popup-button {
    width: 10em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 4em;
    margin-right: 4em;
    background-color: #f8e71c!important;
    border: 3px solid #2C1F57!important;
    font-family: "Montserrat-Bold sans-serif";
}
